<poke-card header="stats">
  <main>
    <section class="pb-4">
      <poke-progress-bar
        [value]="pokemon?.stats[0].base_stat"
        label="Hp"
      ></poke-progress-bar>
    </section>

    <section class="pb-4">
      <poke-progress-bar
        [value]="pokemon?.stats[1].base_stat"
        label="Attack"
      ></poke-progress-bar>
    </section>

    <section class="pb-4">
      <poke-progress-bar
        [value]="pokemon?.stats[2].base_stat"
        label="Defense"
      ></poke-progress-bar>
    </section>

    <section class="pb-4">
      <poke-progress-bar
        [value]="pokemon?.stats[3].base_stat"
        label="Sp. Atk"
      ></poke-progress-bar>
    </section>

    <section class="pb-4">
      <poke-progress-bar
        [value]="pokemon?.stats[4].base_stat"
        label="sp. def"
      ></poke-progress-bar>
    </section>

    <section class="pb-4">
      <poke-progress-bar
        [value]="pokemon?.stats[5].base_stat"
        label="speed"
      ></poke-progress-bar>
    </section>

    <section class="pb-4">
      <poke-progress-bar [value]="total" label="total"></poke-progress-bar>
    </section>
  </main>
</poke-card>
