section {
    p {
        width: 10rem;
    }

    .weakness,
    .resistences {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-bottom: 20px;
        padding: 0;
    }
}

.full-width {
    width: 25rem !important;
}