.root {
    section {


        nav {
            max-width: 1200px;
            margin: 0 auto !important;
            padding: 30px 20px;

            button {
                border: noi;
            }
        }

        header {
            max-width: 1200px;
            height: 15rem;
            padding: 20px;
            margin: 0 auto !important;

            .img-wrap {
                position: relative;
                width: 220px;
                height: 220px;

                img {
                    width: 90%;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    main {
        max-width: 1200px;
        margin: 0 auto !important;
        padding: 30px 20px;

        .top-container {
            div {
                width: 50%;
            }
        }
    }

    .action-btn {
        &:hover {
            em {
                &::before {
                    color: #b6b6b6;
                }
            }
        }
    }
}