<main class="root d-flex bg-light bg-gradient text-uppercase">
  <section class="d-flex justify-content-center align-items-center flex-column">
    <p class="error-code fw-bold lh-1 text-dark">404</p>
    <p class="error-descr fw-bold lh-1 text-dark">page not found</p>
    <p class="error-sub-descr fw-bold lh-1 text-dark">
      THE PAGE YOU'RE LOOKING FOR CAN'T BE FOUND!
    </p>
    <button
      class="mt-2 py-2 px-3 rounded bg-light text-dark text-uppercase"
      matRipple
      routerLink=""
    >
      Homepage
    </button>
  </section>
</main>
