<div class="card shadow p-4 {{pokemon.types[0].name}}">
    <section class="top-container d-flex justify-content-between h-50 align-items-center">
        <span class="fw-bold fs-3 text-light text-capitalize">{{ pokemon.name }}</span>
        <span class="fw-bold text-light opacity-25 fs-3">#{{pokemon.id.toString().padStart(4,'0')}}</span>
    </section>
    <section class="bottom-container d-flex justify-content-between h-100 align-items-center">
        <div class="types">
            <p class="rounded-pill {{type.name}}-light shadow-sm px-4 py-2 text-light my-2 text-capitalize fw-bolder" *ngFor="let type of pokemon.types">{{ type.name}}</p>
        </div>
        <img [src]="pokemon.sprites.front_bigger" [alt]="pokemon.name">
    </section>
</div>
