.root {

    max-width: 1350px;
    margin: 0 auto !important;

    .toolbar {
        height: 8rem;

        .search-bar {
            input {
                border: none;
                outline: none;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;

                padding: 1rem;

                background-color: var(--color-grey);

                &:focus-visible {
                    outline: none;
                }
            }

            .search-btn {
                border: none;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;

                padding: 1rem;

                background-color: var(--color-soft-blue);

                color: white;

                em {
                    font-size: 1rem;

                    &::before {
                        transform: translateX(-2px);
                    }
                }
            }
        }
    }

    main {

        section {
            padding: 3rem;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 25px 15px;
            margin-bottom: 20px;
            padding: 0;
        }
    }
}

@media(max-width: 480px) {

    .root {
        .toolbar {
            padding: 0 2rem !important;

            .search-bar {
                input {
                    width: 6rem;
                }
            }
        }


        main {
            section {
                padding: 0 2rem;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 25px 0;
                margin-bottom: 20px;
                padding: 0;
            }
        }
    }

}