
.pokedex-arrow_drop_down_black_24dp:before { content: '\e800'; } /* '' */
.pokedex-arrow-back:before { content: '\e802'; } /* '' */
.pokedex-search:before { content: '\e803'; } /* '' */
.pokedex-arrow-forward:before { content: '\e804'; } /* '' */
.pokedex-chevron-left:before { content: '\e805'; } /* '' */
.pokedex-chevron-right:before { content: '\e806'; } /* '' */
