<card header="evolution">
  <main class="d-flex justify-content-around">
    <section class="evolution" *ngIf="evolutionChain?.evolutions[0]">
      <pokemon [name]="evolutionChain?.evolutions[0]"></pokemon>
    </section>

    <em
      class="pokedex-chevron-right d-flex align-items-center text-black-50"
      *ngIf="evolutionChain?.evolutions[1]"
    ></em>

    <section class="evolution" *ngIf="evolutionChain?.evolutions[1]">
      <pokemon [name]="evolutionChain?.evolutions[1]"></pokemon>
    </section>

    <em
      class="pokedex-chevron-right text-black-50 d-flex align-items-center"
      *ngIf="evolutionChain?.evolutions[2]"
    ></em>

    <section class="evolution" *ngIf="evolutionChain?.evolutions[2]">
      <pokemon [name]="evolutionChain?.evolutions[2]"></pokemon>
    </section>
  </main>
</card>
